/* RESET */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none
}

img{
    width: 100%;
    height:auto;
}

/* FINISH RESET */

#header{
    height: 4.5rem;
}

nav{
    display:flex;
    justify-content:space-between;
}

.container{
    width: 90%;
    margin-left: 1.5rem;/*24px*/
    margin-right:1.5rem;
}